body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pic-frame{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.image-holder{
    height: 80%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.image-holder img{
    margin: 0%;
    height: 100%;
}




