/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

li{
 /* display:none;  */
  
 /* display:inline; */
  
  /*  display:inline-block */
  
  
}
img{
  width:320;
  height:200px;
  display:inline-block;
  float:right; /*change to left */
   
  
   
   
}
.pic-frame{
  
  display:inline-block;
  background:#f2f2f2;
  padding:10px;
  margin:10px;
  width:600px;
  height:210px;
  
  
  
  
  
}

.caption{
  
  
  margin:10px;
   
   
   
}